<ion-content [fullscreen]="true">
  <div id="container">
    <div class="ecran">
      <P> {{opera}}</P>
    </div>

    <div class="buttons-container">

      <div class="button-row">
        <ion-button class="btn" (click)="saisir(1)"> 1 </ion-button>
        <ion-button class="btn" (click)="saisir(2)"> 2 </ion-button>
        <ion-button class="btn" (click)="saisir(3)"> 3 </ion-button>
        <ion-button class="btn" (click)="saisir('+')"> + </ion-button>
      </div>

      <div class="button-row">
        <ion-button class="btn" (click)="saisir(4)"> 4 </ion-button>
        <ion-button class="btn" (click)="saisir(5)"> 5 </ion-button>
        <ion-button class="btn" (click)="saisir(6)"> 6 </ion-button>
        <ion-button class="btn" (click)="saisir('-')"> - </ion-button>
      </div>
      <div class="button-row">
        <ion-button class="btn" (click)="saisir(7)"> 7 </ion-button>
        <ion-button class="btn" (click)="saisir(8)"> 8 </ion-button>
        <ion-button class="btn" (click)="saisir(9)"> 9 </ion-button>
        <ion-button class="btn" (click)="saisir('*')"> x </ion-button>
      </div>

      <div class="button-row">
        <ion-button class="btn" (click)="saisir('.')"> . </ion-button>
        <ion-button class="btn" (click)="saisir(0)"> 0 </ion-button>
        <ion-button class="btn" (click)="effacer()"> c </ion-button>
        <ion-button class="btn" (click)="saisir('/')">
          / </ion-button>
      </div>

      <div class="button-row">
        <ion-button class="egale" (click)="egale()"> = </ion-button>
      </div>
    </div>
  </div>
</ion-content>
